* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Used media queries to make the page work on every device*/

@media (min-width: 768px) {
    .sec1 {
        padding-top: 10%;
    }
}

@media (max-width: 541px) {
    body {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 281px) {
    body {
        font-size: 0.3rem;
    }
}