* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Used media queries to make the page work on every device*/
/*Funkar inte på 320px?????????????*/
@media (max-width: 900px) {
    body {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    .sec1 {
        padding-top: 10%;
    }
}