header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}   

#headerimg {
    max-height: 100%;
    max-width: 100%;
}

.h1-head {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    color: $color-dark;
}

/*h1 starting the articles*/
.rubriken {
    position: relative;
    display: flex;
    width: 50%;
}

.rubriken1 {
    text-align: right;
}

#stortext {
    position: absolute;
    right: 15%;
    bottom: 120%;
}