@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/*Used media queries to make the page work on every device*/
/*Funkar inte på 320px?????????????*/
@media (max-width: 900px) {
  body {
    font-size: 0.7rem; } }

@media (min-width: 768px) {
  .sec1 {
    padding-top: 10%; } }

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center; }

.header-h1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10%;
  color: black; }

#header--img {
  max-height: 100%;
  max-width: 100%; }

/*h1 starting the articles*/
.paragraph {
  position: relative;
  display: flex;
  width: 50%; }

.paragraph--card {
  text-align: right; }

#paragraph-h1 {
  position: absolute;
  right: 15%;
  bottom: 120%; }

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  justify-content: center; }

.footer--article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px; }

.footer-p {
  color: grey; }

#footer-right {
  padding-top: 49px; }

/*Tip of the week section on the page*/
.tipofweek {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

#blue-background {
  width: 100%;
  max-height: 100%;
  max-width: 100%; }

.tipofweek-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  top: 23%;
  width: 70%;
  right: 15%; }

/*Section for the black part on the page*/
.black {
  height: 300px;
  background-color: black; }

/*First article*/
.article1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative; }

.article1--card1 {
  margin-top: 10%;
  width: 50%;
  text-align: left; }

#phone1 {
  max-height: 100%;
  max-width: 100%; }

/*Second article*/
.article2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative; }

#phone2 {
  max-height: 100%;
  max-width: 100%; }

.article2--card2 {
  margin-top: 10%;
  width: 50%;
  text-align: right; }

.article2--card3 {
  margin: 10%;
  text-align: left; }
