* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center; }

#headerimg {
  max-height: 100%;
  max-width: 100%; }

.h1-head {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10%;
  color: black; }

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  justify-content: center; }

.footer-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px; }

#footer-right {
  padding-top: 49px; }

.article1 {
  color: grey; }

.tipofweek {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  justify-content: center; }

#blue-backg {
  width: 100%;
  max-height: 100%;
  max-width: 100%; }

#h1sec {
  flex-wrap: wrap;
  position: absolute;
  left: 42%;
  top: 40%; }

#psec {
  flex-wrap: wrap;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 60%; }
