/*First article*/
.article1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-right: 15%;
    margin-left: 20%;
}

.article1--card1 {
    margin-top: 10%;
    width: 50%;
    text-align: left;
}

#phone1 {
    max-height: 100%;
    max-width: 100%;
}

/*Second article*/
.article2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    margin-right: 20%;
    margin-left: 20%;
}

#phone2 {
    max-height: 100%;
    max-width: 100%;
}

.article2--card2 {
    margin-top: 10%;
    width: 50%;
    text-align: right;
}

.article2--card3 {
    margin: 10%;
    text-align: left;
}