/*Article sections on the page*/

/*First article*/
.article1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-right: 15%;
    margin-left: 20%;
    color: $color-dark;
}

.article1--card1 {
    margin-top: 10%;
    width: 50%;
    text-align: left;
}

#phone1 {
    max-height: 100%;
    max-width: 100%;
}

/*Second article*/
.article2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-right: 20%;
    margin-left: 20%;
    color: $color-dark;
}

#phone2 {
    max-height: 100%;
    max-width: 100%;
    margin-top: 5%;
}

.article2--card2 {
    margin-top: 15%;
    width: 50%;
    text-align: right;
}

.article2-bottom {
    display: flex;
    justify-content: center;
    position: relative;
    color: $color-dark;
}

.article2--card3 {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    text-align: left;
}