/*Footer section of the page*/
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(31, 30, 30);
    color: $color-light;
    justify-content: center;
}

.footer--article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 250px;
    height: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 4%;
    padding-bottom: 4%;
}

.footer-p {
    color: $color-medium;
}

#footer-right {
    padding-top: 4%;
    text-align: right;
}