/*Header section of the page*/
header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}   

.header-h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    color: $color-dark;
}

#header--img {
    max-height: 100%;
    max-width: 100%;
}

/*h1 starting the articles*/
.paragraph {
    position: relative;
    display: flex;
    width: 50%;
}

.paragraph--card {
    text-align: right;
    color: $color-dark;
}

#paragraph-h2 {
    position: absolute;
    right: 15%;
    bottom: 120%;
}